.inconsolata{
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.logo {
  width: 100px;
  margin-right: 10px;
  left: auto;
}
body {
  background-image: url('v.jpg');
  background-size: cover; /* Para que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita la repeticion de la imagen */
  font-family: verdana;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

header {
  background-color: #01460a; /* Celeste */
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #ffffff; /* Celeste */
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #ccc;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  align-items: center; 
}

.contenedor img {
  margin-right: 10px;
}

footer {
  background-color: #01460a; /* Celeste */
  color: #fff;
  text-align: center;
  padding: 20px;
}


.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.mySlides {
  display: none;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(234, 234, 234);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
